

/*#gvCadCond {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50%;
    left: 30%;
    margin-top: -50px;
    margin-left: -30px;
}

#GridView1 {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50%;
    left: 30%;
    margin-top: -50px;
    margin-left: -30px;
}
*/
/*
#TextBox1 {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50%;
    left: 30%;
    margin-top: -50px;
    margin-left: -30px;
}*/